textarea {
    font-family: "Arial Nova", ui-sans-serif;

    display: flex;
    width: 550px;
    height: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    resize: none;
}

header {
    background-color: #e8efeb;
    padding: 30px;
    text-align: end;

    /*font-size: 35px;*/
    color: white;
    /*align-items: ;*/
    /*display: inline-grid;*/
}


.selector:hover {
    /*background-color: blue;*/
    color: #051fa6;
    text-decoration: underline;
}

.heareds_items {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    /*display: grid;*/
    /*display: inline-grid;*/
    /*display: block;*/
    /*padding: 8px 12px;*/
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}


.INFO {
    padding: 8%;
    font-size: 26px;
    text-align: center;

}

.pad {
    padding-right: 50px;
}

.ROW {
    padding-top: 100px;

}

.senter {
    display: inline-grid;
    justify-content: center;
    align-items: center;

}

.text {
    right: 5px;
    top: 0;
    font-size: 25px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#out_put {
    overflow: auto;
    width: 550px;
    height: 400px;
    white-space: pre-line;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 18px;
    font-family: "Arial Nova", ui-sans-serif;
}