textarea {
    display: flex;
    width: 550px;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 15px;
    resize: none;
}


.INFO {
    padding: 8%;
    font-size: 26px;
    text-align: center;

}

.pad {
    padding-right: 50px;
}

.ROW {
    padding-top: 100px;

}

.senter {
    display: inline-grid;
    justify-content: center;
    align-items: center;

}

.text {
    right: 5px;
    top: 0;
    font-size: 25px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#TEST {
    width: 550px;
    height: 250px;
    white-space: pre-line;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 20px;
}